<h4>Agregar personaje</h4>
<!-- ? El ngSubmit lo que permite es llamar a una funcion cuando se indique un submit -->
<form class="row" (ngSubmit)="emitCharacter()">

  <input type="text"
  [(ngModel)]="character.name"
  name="name"
  class="form-control mb-2"
  placeholder="Nombre">

  <input type="number"
  [(ngModel)]="character.power"
  name="power"
  class="form-control mb-2"
  placeholder="Poder">

  <button type="submit" class="btn btn-primary">
    Agregar
  </button>

  <!--? Esto se utiliza para poder ver el objeto literal -->
  <!-- <pre>{{ character | json }}</pre> -->
</form>
